<br>
<table class="info">
    <tr><td>接続状態</td><td></td></tr>
    <tr><td>接続先</td><td></td></tr>
    <tr><td>RSSI</td><td></td></tr>
</table>
<br>
<table class="info">
    <tr><td>SSID</td><td>{{ ssid }}</td></tr>
    <tr><td>パスワード</td><td>{{ password }}</td></tr>
    <tr><td>暗号化</td><td>{{ encryption }}</td></tr>
    <tr><td>BSSID</td><td>{{ bssid }}</td></tr>
    <tr><td>IP方式</td><td>{{ ip_mode_display }}</td></tr>
    <tr><td>IPアドレス</td><td>{{ ip }}</td></tr>
    <tr><td>ネットマスク</td><td>{{ netmask }}</td></tr>
    <tr><td>ゲートウェイ</td><td>{{ gateway }}</td></tr>
    <tr><td>DNSサーバー</td><td>{{ dns }}</td></tr>
</table>
<br>